body {
  text-align: center;
  margin: auto;
  background-color: rgb(240, 228, 228);
}
main {
  padding: 48px 24px;
}
.main-title {
  font-size: 32px;
  margin: 0 0 24px;
}
.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}
.post {
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .05);
  transition: box-shadow .3s ease-out;
}
.post:hover {
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, .1);
}
.post__title {
  font-size: 24px;
  margin: 0 0 24px;
  text-transform: capitalize;
}
.post__descr {
  font-size: 16px;
}
